In [1]:
a = 10
b = 20
print(a==b)

False

In [2]:
name = input("enter a name")
phone_number = int(input("enter a phone number"))
email_id = input("enter a email_id")
location = input("enter a location")
print(name , phone_number , email_id , location)

enter a name Rajan
enter a phone number 9879686899
enter a email_idrdasf@kaskbk
enter a location sonipat
 Rajan 9879686899 rdasf@kaskbk  sonipat

In [4]:
name = "rajan"
age = 50
print(name , "has" ,age,"year", "for retiring")

rajan has 50 year for retiring

In [5]:
a = 10
b = 35
add = a+b
print(add)

45

In [6]:
a = 20
b = 30
print(a//b)

0

In [7]:
a = 23
b = 23
print(a==b)

True

In [8]:
a = 2
b = 3
print(a//b)

0

In [9]:
a = 4
b = 5
print(b//a)

1

In [10]:
a = 10
b = 20
print(a&b)

0

In [11]:
a = 5
b = 8
print(a&b)

0

In [12]:
a = 4
b = 4
print(a&b)

4

In [14]:
a = 4
b = 4
print(a|b)

4

In [15]:
a = 8
b = 4
print(a|b)
print(a&b)
print(a^b)

12
0
12

In [16]:
a = 4
b = 7
print(a&b)
print(a|b)
print(a^b)

4
7
3

In [17]:
print(14>>1)

7

In [18]:
print(14<<2)

56

In [19]:
a = 10
b = 3
print(a==b)

False

In [20]:
a = 10
b = 4
print(a==b)

False

In [21]:
print(a!=b)

True

In [22]:
a = 30
b = 20
print(a<=b)

False

In [23]:
print(a>=b)

True

In [24]:
print(a!=b)

True

In [27]:
## python logical operator
## logical operator are used to combine conditional statements:
   ## and return true if both statements are true 
    # or operator is used to if one of the statements are true
    # not Reverse the result , returns False if the result is true
a = 10
b = 20
print(a<=b)

True

In [28]:
a = 30
b = 20
print(a>=b)

True

In [29]:
x = 20
print(x>20 and x<20)

False

In [31]:
x = 0
print(x<10 and x<2)

True

In [33]:
x = 0
print(x<5 or x<-2)

True

In [35]:
x = 10
print(x<20 and x<15)

True

In [38]:
a = 10
b = 20
c = -10
if a>0 and b>0:
    print("the number are greater then 0")
else:
    print("the number are less then 0")

the number are greater then 0

In [41]:
a = 10
b = 20
c = -10
if a>0 and  b>0 and c>0:
    print("the number is positive")
else:
    print("the number is negative")

the number is negative

In [44]:
a = 10
if not a:
        print("this will return True")
else:
    print("this number is not true")

this number is not true

In [46]:
a = 20
if a:
    print("this number is true")
else:
    print("this number is not true")

this number is true

In [47]:
a = 10
if not (a%3 ==0 or a%5 == 0):
    print("10 is not divisible by either 3 or 5")
else:
    print("10 is divisible by either 3 or 5")

10 is divisible by either 3 or 5

In [48]:
x = ["apple","banana"]
y = ["apple","banana"]
z = x
print(z is x)

True

In [49]:
print(x==y)

True

In [50]:
x  = 10
b = 10
print(id(x), id(b))

2309177082384 2309177082384

In [51]:
x = 10.4
b = 10.4
print(id(x) , id(b))

2309261361424 2309261374960

In [52]:
x = ["apple","grapes","orange"]
y = ["apple","grapes","orange","banana"]

In [53]:
z = x
print(x is z)

True

In [54]:
print(x==y)

False